<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DnD calendar</title>
  </head>
  <body>
    <h1>DnD calendar</h1>
    <form class="" action="/login" method="get">
      <input type="submit" value="go to login">
    </form>

  </body>
</html>
