<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>
  <body>
    <h2>please enter your name</h2>
    <form class="" action="/months" method="post">
      <input type="text" name="name" value="">
      <input type="submit" name="submit" value="log in">
    </form>
  </body>
</html>
