<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>months</title>
  </head>
  <body>
    <h1>months</h1>
    <h3>select a month to mark your unavailable days</h3>
    <form class="" action="/months/january" method="post">
      <input type="submit" name="january" value="january">
    </form>
    <form class="" action="/months/february" method="post">
      <input type="submit" name="february" value="february">

    </form>
    <form class="" action="/months/march" method="post">
      <input type="submit" name="march" value="march">

    </form>
    <form class="" action="/months/april" method="post">
      <input type="submit" name="april" value="april">

    </form>
    <form class="" action="/months/may" method="post">
      <input type="submit" name="may" value="may">

    </form>
    <form class="" action="/months/june" method="post">
      <input type="submit" name="june" value="june">

    </form>
    <form class="" action="/months/july" method="post">
      <input type="submit" name="july" value="july">

    </form>
    <form class="" action="/months/august" method="post">
      <input type="submit" name="august" value="august">

    </form>
    <form class="" action="/months/september" method="post">
      <input type="submit" name="september" value="september">

    </form>
    <form class="" action="/months/october" method="post">
      <input type="submit" name="october" value="october">

    </form>
    <form class="" action="/months/november" method="post">
      <input type="submit" name="november" value="november">

    </form>
    <form class="" action="/months/december" method="post">
      <input type="submit" name="december" value="december">

    </form>
    <h2>you are logged in as <%= @name %>. not you? click below to return to login</h2>
    <form class="" action="/login" method="get">
      <input type="submit" name="return to login" value="return to login">
    </form>
  </body>
</html>
